@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
.header {
    width: 1440px;
    height: 102px;
}
.container {
}
a {
    text-decoration: none;
    color: black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-bottom: 5px solid #4BA87D;
    text-decoration: line, #4BA87D;
}
.header__menu {
}
.header__logo {
    color: black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 34px;
    
}
.header__button {
    border-style: none;
    color: white;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #4BA87D;
    border-color: #4BA87D;
    height: 41px;
    width: 168px;
}
.hero {
    height: 383px;
    width: 1088px;
}
.hero__leftside {
    height: 317px;
    width: 489px;

}
.hero__photo {
    height: 383px;
    width: 680px;
}
.video {
}
.video__txt {
}
.video__btn {
}
.sec3 {
}
.sec3__thumb1 {
}
.sec3__thumb2 {
}
.sec3__txt {
}
.sec4 {
}
.sec4__case1 {
}
.sec4__case2 {
}
.sec4__case3 {
}
.sec4__txt {
}
.sec4__input {
}
.sec5 {
}
.sec5__text {
}
.sec5__logos {
}
.getstarted {
}
.getstarted__text {
}
.getstarted__btn {
}
.footer__links1 {
}
.footer__divider {
}
.footer__rights {
}
.footer__links2 {
}